body {
    background-color: #E0E0E2;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    font-family: Georgia, Arial, Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E0E2;
    color: #fff;
    padding: 1rem;
}

header img {
    width: 550px;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #333;
    max-width: calc(100% - 40px);
    border-radius: 18px;
}

nav li {
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#hero {
    background-color: #fff;
    color: #fff;
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url("../public/Penne.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.card {
    background: #fff;
    padding: 1rem;
    width: calc(33.333% - 20px);
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    margin-top: 1rem; /* Top margin for the h2 element */
    margin-bottom: 1rem; /* Bottom margin for spacing */
    color: #721817; /* Assuming you want to preserve the color */
}

.card img {
    width: 80%;
    margin-bottom: 1rem; /* Bottom margin for spacing */
}

.card p {
    margin-bottom: 1rem; /* Bottom margin for spacing */
}

.card a {
    display: block;
    margin-bottom: 1rem;
    margin-top: auto;
    text-decoration: none;
    color: #FA9F42;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #721817;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Footer */
footer {
    text-align: center;
    background-color: #E0E0E2;
    color: #000000;
    padding: 30px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

footer img {
    width: 50px; 
}

/* Typography and colors */
h1, h2 {
    color: #721817;
    text-align: center;
}

article > h1 {
    font-size: 28px;
    color: white;
    font-weight: bolder;
    text-shadow: 5px 5px #333;
    text-align: left;
}

h2 > span {
    color: #FA9F42;
    font-size: 0.75em;
}

.center-text {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.pop-up-on-hover {
    transition: transform 0.3s ease-in-out;
}

.pop-up-on-hover:hover {
    transform: scale(1.1);
}
#copyright {
    padding-top: 12px;
    font-size: 1em;
}

.nav-bar {
    height: 90px;
}

.border-top-line {
    border-top: 3px solid black;
}

input:focus:invalid {
    color: red;
    border: red 3px solid;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .cards-container {
        flex-direction: column;
        padding: 0;
    }

    .card {
        width: 90%;
        margin: 10px auto;
    }
}
